html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.flex-container {
  display: flex;
}

.nav-list {
	list-style: none;
}

.map {
	height: 1000px;
	width: 1000px;
}

.outer {
	position: relative;
	height: 100%;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1024;
	cursor: pointer;
}

.post {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 64%;
  height: 94%;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
	padding: 20px;
  background: #fff;
  z-index: 1029;
}

.post-image {
	width: 300px;
	height: 300px;
	max-width: 100%;
	margin: 0 auto 20px;
	position: relative;
	overflow: hidden;
	background-color: rgb(220,216,178);
}

.post-place {
	display: flex;
}

.post-address {
	display: flex;
}

.post-star {
	display: flex;
}

.post-attribute {
	list-style: none;
}


.button-post {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
	border-radius:5px;
	outline: 0;
  border:0;
}

.button-post:active{
  box-shadow:none;
  position:relative;
  top:7px;
}
