label {
  display: block;
}

.first-search {
  margin-left: 20px;
}

.freeword {
  margin-left: 20px;
}

.second-search {
  margin-left: 20px;
  margin-top: 20px;
}

.third-search {
  margin-left: 20px;
  margin-top: 20px;
}

.fourth-search {
  margin-left: 20px;
  margin-top: 20px;
}
