.detail-header {
  background-color: #f2a240;
}
.detail-title {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  margin-left: 50px;
}
.detail-name {
  font-weight: bolder;
  font-size: 36px;
  margin: 30px 0px 30px 300px;
}
.detail-image {
  margin-left: 300px;
  height: 300px;
  width: 300px;
  background-color: #ffe5cc;
}
.detail-contents {
  display: flex;
}
.detail-evaluation {
  display: flex;
}
.detail-star {
  margin-left: 20px;
}
.detail-rate {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.detail-searchword {
  list-style: none;
  margin-left: 50px;
  display: flex;
  font-size: 16px;
}
.detail-searchword li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
}
.detail-facility {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 70px;
}
.hasToilet {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noToilet {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.hasBench {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noBench {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.hasRoof {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noRoof {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.location-info {
  display: flex;
}
.address {
  width: 50px;
  font-weight: bolder;
  font-size: 24px;
  margin: 75px 0px 0px 70px;
  border: solid 1px #000;
  text-align: center;
}
.location-address {
  font-weight: bolder;
  font-size: 24px;
  margin: 75px 0px 0px 20px;
}
.detail-map {
  margin-top: 50px;
  margin-left: 300px;
  height: 600px;
  width: 825px;
  background-color: #ffe5cc;
  align-items: center;
}
.wordofmouth {
  font-weight: bolder;
  font-size: 24px;
  margin: 30px 0px 30px 300px;
}
.review-info {
  display: flex;
}
.reviews {
  font-size: 21px;
  font-weight: bolder;
  margin-left: 300px;
  margin-bottom: 20px;
  width: 1000px;
  /* border: solid 1px #000; */
  /* background-color: #ffe5cc; */
}
.active {
  display: block;
}
.line {
  border-bottom: solid medium;
  width: 82.5%;
  margin-left: 0;
  margin-bottom: 20px
}
.image{
  height: 300px;
  width: 300px;
  margin-left: 300px;
}
.detail-review {
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 5px;
  border: solid 2px #9a9a9a;
  height: 100px;
  width: 800px;
}
.detail-post{
  display: flex;
}
.plus-review {
  color: gray;
  margin-left: 300px;
  margin-top: 50px;
  height: 108px;
  width: 50px;
  font-size: 30px;
  border-radius: 5px;
  border: solid 2px #9a9a9a;
}
