.detail_header
  background-color rgb(242,162,64)

.detail_title
  font-family "Hiragino Kaku Gothic ProN"
  font-size 40px
  font-weight bolder
  color white
  margin-left 40px

.detail_name
  font-weight bolder
  font-size 24px
  margin-top 20px
  margin-bottom 20px
  margin-left 20px

.detail_image
  margin-left 20px
  height 300px
  width 300px
  background-color rgb(255, 229, 204)

.detail_contents
  display flex

.detail_evaluation
  display flex

.detail_star
  margin-left 20px

.detail_rate
  margin-left 20px
  font-size 20px
  font-weight bold

.detail_searchword
  list-style none
  margin-left 20px
  display flex
  font-size 16px

.detail_searchword li
  display inline-block
  padding 10px 20px
  cursor pointer
  font-weight bolder

.detail_facility
  font-size 18px
  font-weight bolder
  margin-top 10px
  margin-left 40px

.hasToilet
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,1)
  margin-top 20px
  margin-left 20px

.noToilet
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,0.1)
  margin-top 20px
  margin-left 20px

.hasBench
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,1)
  margin-top 20px
  margin-left 20px

.noBench
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,0.1)
  margin-top 20px
  margin-left 20px

.hasRoof
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,1)
  margin-top 20px
  margin-left 20px

.noRoof
  display inline-block
  color rgb(255,255,255,1)
  background-color rgb(93,202,136,0.1)
  margin-top 20px
  margin-left 20px

.location_info
  display flex

.address
  width 50px
  font-weight bolder
  margin-top 20px
  margin-bottom 20px
  margin-left 20px
  margin-right 0px

.location_address
  font-weight bolder
  margin-top 20px
  margin-bottom 0px
  margin-left 0px
  margin-right 50px

.detail-map
  margin-left 20px
  height 600px
  width 1000px
  background-color rgb(255, 229, 204)

.wordofmouth
  font-weight bolder
  margin: 20px 0px 20px 20px

.review_info
  display flex

.reviews
  margin-left 20px
  margin-bottom 20px
  height 200px
  width 1000px
  border solid 1px #000000
  background-color rgb(255, 229, 204)

.active
  display block
