.detail_header {
  background-color: #f2a240;
}
.detail_title {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  margin-left: 50px;
}
.detail_name {
  font-weight: bolder;
  font-size: 24px;
  margin: 30px 0px 30px 50px;
}
.detail_image {
  margin-left: 50px;
  height: 300px;
  width: 300px;
  background-color: #ffe5cc;
}
.detail_contents {
  display: flex;
}
.detail_evaluation {
  display: flex;
}
.detail_star {
  margin-left: 20px;
}
.detail_rate {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.detail_searchword {
  list-style: none;
  margin-left: 20px;
  display: flex;
  font-size: 16px;
}
.detail_searchword li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
}
.detail_facility {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 40px;
}
.hasToilet {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noToilet {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.hasBench {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noBench {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.hasRoof {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  margin-top: 20px;
  margin-left: 20px;
}
.noRoof {
  display: inline-block;
  color: #fff;
  background-color: #5dca88;
  opacity: 0.2;
  margin-top: 20px;
  margin-left: 20px;
}
.location_info {
  display: flex;
}
.address {
  width: 50px;
  font-weight: bolder;
  font-size: 18px;
  margin: 30px 10px 30px 50px;
  border: solid 1px #000;
  text-align: center;
}
.location_address {
  font-weight: bolder;
  font-size: 18px;
  margin: 30px 0px 30px 20px;
}
.detail-map {
  margin-left: 50px;
  height: 600px;
  width: 1000px;
  background-color: #ffe5cc;
}
.wordofmouth {
  font-weight: bolder;
  margin: 30px 0px 30px 50px;
}
.review_info {
  display: flex;
}
.reviews {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 200px;
  width: 1000px;
  /* border: solid 1px #000; */
  /* background-color: #ffe5cc; */
}
.active {
  display: block;
}
.line {
  border-bottom: solid medium;
  width: 95%;
  margin-left: 0;
  margin-bottom: 20px
}
