.list_name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.list_image {
  margin-left: 20px;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 229, 204);
}

.list_contents {
  display: flex;
}

.list_evaluation {
  display: flex;
}

.list_star {
  margin-left: 20px;
}

.list_rate {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.list_searchword {
  list-style: none;
  margin-left: 20px;
  display: flex;
  font-size: 16px;
}

.list_searchword li {
  display: inline-block;
  color: rgb(0,0,0,1);
  background-color: rgb(25,135,22,0.1);
  padding: 10px 20px;
  cursor: pointer;
}

.list_searchword_item_first {
  border: solid 1px #000000;
  margin-top: 20px;
}

.list_searchword_item {
  margin-top: 20px;
  margin-left: 20px;
  border: solid 1px #000000;
}

.hasToilet {
  background-color: red;
}

.location_info {
  display: flex;
}

.address {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
}

.location_address {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 50px;
}

.detail-map {
  margin-left: 20px;
  height: 600px;
  width: 1000px;
  background-color: rgb(255, 229, 204);
}

.wordofmouth {
  margin: 20px 0px 20px 20px;
}

.review_info {
  display: flex;
}

.reviews {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 1000px;
  border: solid 1px #000000;
  background-color: rgb(255, 229, 204);
}

.active {
  display: block;
}
